.navigation .container .navbar .container-fluid .btn {
    background: #312ECB;
    color: white;
}

.header .container .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .heading .left .btn {
    background: #312ECB;
    color: white;
    padding-top: 205;
    padding: 205 123 0 138;
}

.main .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 205;
    padding: 205 123 0 138;
}

.checkservice .container .row .service-1 {
    text-align: center;
}

.consult .btn {
    background: #312ECB;
    color: white;
}

.footer .container-fluid {
    background-color: #0D1C37;
    color: white;
}